
@model SpaMerkezleri.Models.IsletmeForm

@{
    ViewData["Title"] = "StandartUye";
    Layout = "~/Views/Shared/MemberLayout.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <p class="my-auto">@TempData["ErrorMessage"]</p>
    </div>
}

<link rel="stylesheet" href="~/css/form.css" />
<div class="container-fluid">
    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
            <h2 class="h5 mb-3 mb-lg-0">Standart Basvuru Formu</h2>
            <div class="hstack gap-3">
            </div>
        </div>

        <form method="post" class="validate-form" enctype="multipart/form-data">
            <div class="row">
                <!-- Left side -->
                <div class="col-lg-8">
                    <!-- Basic information -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6 mb-4">Kisisel Bilgiler</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Ad</label>
                                        <input type="text" class="form-control" asp-for="IsletmeUyeAdi" required>
                                        <span asp-validation-for="IsletmeUyeAdi" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Soy Ad</label>
                                        <input type="text" class="form-control" asp-for="IsletmeUyeSoyAdi" required>
                                        <span asp-validation-for="IsletmeUyeSoyAdi" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Mail</label>
                                        <input type="email" class="form-control" asp-for="IsletmeUyeMail" required>
                                        <span asp-validation-for="IsletmeUyeMail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Telefon Numarası Uygun Formatta Yazın</label>
                                        <input type="number" placeholder="90 (5**) *** ** **" class="form-control" asp-for="IsletmeTelefonNumarasi" required>
                                        <span asp-validation-for="IsletmeTelefonNumarasi" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6 mb-4">İşletme Bilgileri</h3>
                            <div class="mb-3">
                                <label class="form-label">İşletme Çeşidi</label>
                                <select class="form-control select2" id="ilanCesidi" asp-for="IsletmeTipi" required>
                                    <option>Seçiniz</option>
                                    @foreach (var tip in ViewBag.IsletmeTipleri)
                                    {
                                        <option value="@tip">@tip</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">İsletme Adı</label>
                                <input type="text" class="form-control" asp-for="ISletmeAdi" required>
                                <span asp-validation-for="ISletmeAdi" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">İsletme Açık Adres</label>
                                <input type="text" class="form-control" asp-for="IsletmeAcikKonum">
                                <span asp-validation-for="IsletmeAcikKonum" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6 mb-4">Sayfanızdaki Açıklamanız</h3>
                            <div class="mb-3">
                                <label class="form-label">İşletmeniz Hakkında bilgi giriniz</label>
                                <textarea class="form-control" asp-for="ISletmeNot" id="richEditor" rows="5" cols="50"></textarea>
                                <span asp-validation-for="ISletmeNot" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Right side -->
                <div class="col-lg-4">
                    <!-- Avatar -->
                    <div class="card mb-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6">İşletme İnstagram Adı</h3>
                                <input class="form-control" type="text" asp-for="IsletmeInstagram">
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="h6">İşletme Resmi</h3>
                            <input class="form-control" type="file" asp-for="IsletmeResimi" required>
                            <h3 class="h6 mt-3">İşletme Logo</h3>
                            <input class="form-control" type="file" asp-for="IsletmeLogo" required>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6">İşletme İçerik Resmi</h3>
                            <input class="form-control" type="file" asp-for="IsletmeResimi1">
                            <h3 class="h6 mt-3">İşletme İçerik Resmi</h3>
                            <input class="form-control" type="file" asp-for="IsletmeResimi2">
                            <h3 class="h6 mt-3">İşletme İçerik Resmi</h3>
                            <input class="form-control" type="file" asp-for="IsletmeResimi3">
                            <h3 class="h6 mt-3">İşletme İçerik Resmi</h3>
                            <input class="form-control" type="file" asp-for="IsletmeResimi4">
                            <h3 class="h6 mt-3">İşletme İçerik Resmi</h3>
                            <input class="form-control" type="file" asp-for="IsletmeResimi5">
                            <h3 class="h6 mt-3">İşletme İçerik Resmi</h3>
                            <input class="form-control" type="file" asp-for="IsletmeResimi6">
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <input type="submit" value="GÖNDER" class="btn btn-primary btn-block">
                            <a href="/Member/Isletme/Index/" class="btn btn-danger btn-block">İPTAL</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" charset="utf-8" src="~/js/myFunction.js"></script>
}
<script>

    document.addEventListener('DOMContentLoaded', () => {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            setTimeout(() => {
                alert.style.opacity = '0';
                setTimeout(() => {
                    alert.remove();
                }, 500);
            }, 3000);
        });
    });

</script>

