@model IEnumerable<CityStartList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 1;
}


<h1>Şehrin Yıldızları Kategorisi</h1>
<a class="btn btn-success mb-3" href="/Admin/CityStartList/AddCityStartList">Kategori Ekle</a>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@sayac</td>
                <td>@item.CategoryName</td>
                <td><a class="btn btn-warning" href="/Admin/CityStartList/UpdateCityStartList/@item.ID">Güncelle</a></td>
                <td>
                    <form asp-controller="CityStartList" asp-action="DeleteCityStartList" asp-route-id="@item.ID" onsubmit="return confirm('Kategoriyi silmek iştediğinize eminmisiniz')">
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
            sayac++;
        }
    </table>
</div>
