
<style>
    .custom-card-container .card {
        font-size: 1rem;
        color: black;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.5s;
        text-decoration: none;
        color: #3d5000;
    }

    .custom-card-container .card-text {
        color: gray;
    }
</style>

<div class="custom-card-container d-flex flex-wrap px-2 justify-content-center mt-5">
    <a href="/Member/StandartUye/" class="card text-center border-0 shadow rounded-0 p-4 mb-3 mx-2" style="max-width: 22rem;">
        <img style="width:60px; height:60px; margin:auto;" src="~/site/uye.jpg" />
        <div class="card-body">
            <h4 class="card-title fw-bold mb-0">ÜYEMİZ OLUN </h4>
            <h4 class="card-title fw-bold">( İŞLETME / BİREYSEL)</h4>
            <p class="card-text">
                Size veya işletmenize uygun alanda profil sayfanızı oluşturabilirsiniz.
            </p>
            <p>TIKLAYINIZ</p>
        </div>
    </a>

    <a href="/Ilan/Index/" class="card text-center border-0 shadow rounded-0 mb-3 p-4 mx-2" style="max-width: 22rem;">
        <img style="width: 60px; height: 60px; margin: auto;" src="~/site/ilan.jpg" />
        <div class="card-body">
            <h4 class="card-title fw-bold mb-0" style="min-height:70px;">İLANLAR</h4>
            <p class="card-text">
                Buradan İlanları görebilir ve ilan oluşturabilirsiniz
            </p>
            <p>TIKLAYINIZ</p>
        </div>
    </a>
    <a href="/Blog/Index/" class="card text-center border-0 shadow rounded-0 p-4 mb-3 mx-2" style="max-width: 22rem;">
        <img style="width: 60px; height: 60px; margin: auto;" src="~/site/blog.jpg" />
        <div class="card-body">
            <h4 class="card-title fw-bold mb-0" style="min-height:70px;">ŞEHİRDE ÖNE ÇIKANLAR</h4>
            <p class="card-text">
                Şehirde nerede ne yapılır buradan ulaşabilirsiniz.
            </p>
            <p>TIKLAYINIZ</p>
        </div>
    </a>
    <a href="/SektorIcinde/Index/" class="card text-center border-0 shadow rounded-0 mb-3 p-4 mx-2" style="max-width: 22rem;">
        <img style="width: 60px; height: 60px; margin: auto;" src="~/site/sektor.jpg" />
        <div class="card-body">
            <h4 class="card-title fw-bold mb-0" style="min-height:70px;">ŞEHİRİN DİNAMİKLERİ</h4>
            <p class="card-text">
                Şehre dair bilgiler ve önemli gelişmeler.
            </p>
            <p>TIKLAYINIZ</p>
        </div>
    </a>
</div>
