@model BlogCategory
@{
    ViewData["Title"] = "AddBlogCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Şehirde Öne Çıkanlar Kategori Ekleme Sayfası</h1>

@await Html.PartialAsync("~/Areas/Admin/Views/PartialView/BackButton.cshtml")

<form method="post">
    <div class="form-group mb-3">
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
    </div>

    <button class="btn btn-outline-success mb-5">Ekle</button>
</form>

