<ul class="menu-inner py-1 mb-5">


    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Admin Özel Eylemler</span>
    </li>


    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bxs-cool"></i>
            <div data-i18n="Account Settings">Admin İşlemleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Rol/Index/" class="menu-link">
                    <div data-i18n="Analytics">Rol İşlemleri</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/Banner/Index/" class="menu-link">
                    <div data-i18n="Analytics">Reklam Alanı</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/Uyelikler/Index/" class="menu-link">
                    <div data-i18n="Analytics">Üyelik Kartları</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/About/Index/" class="menu-link">
                    <div data-i18n="Analytics">Hakkımızda Bilgileri</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-star"></i>
            <div data-i18n="Account Settings">Şehrin Yıldızları</div>
        </a>
        <ul class="menu-sub">

            <li class="menu-item">
                <a href="/Admin/CityStart/Index/" class="menu-link">
                    <div data-i18n="Analytics">Şehrin Yıldızları</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/CityStartList/Index/" class="menu-link">
                    <div data-i18n="Analytics">Kategori Listesi</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-file"></i>
            <div data-i18n="Account Settings">Nöbetçi Eczaneler</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Pharmacy/Index/" class="menu-link">
                    <div data-i18n="Analytics">Eczaneler</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/CityDistrict/Index/" class="menu-link">
                    <div data-i18n="Analytics">İlçeler</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Üye Eylemler</span>
    </li>


    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-smile"></i>
            <div data-i18n="Account Settings">Üye Bilgileri</div>
        </a>
        <ul class="menu-sub">

            <li class="menu-item">
                <a href="/Admin/Rol/AdminList/" class="menu-link">
                    <div data-i18n="Analytics">Yönetici Listesi</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/Rol/UserList/" class="menu-link">
                    <div data-i18n="Analytics">Kullanıcı Listesi</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="/Admin/ProfesyonelMember/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-happy-heart-eyes"></i>
            <div data-i18n="Analytics">Profesyonel Kullanıcı İstekleri</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">İşletme Eyemleri</span>
    </li>

    <li class="menu-item">
        <a href="/Admin/Basvurular/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-buildings"></i>
            <div data-i18n="Analytics">İşletme Basvuruları</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/IsletmeTipi/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-pencil"></i>
            <div data-i18n="Analytics">İşletme Tipleri</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">İlan Eyemleri</span>
    </li>

    <li class="menu-item">
        <a href="/Admin/Ilan/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-news"></i>
            <div data-i18n="Analytics">İlanlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/IlanTipi/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-pencil"></i>
            <div data-i18n="Analytics">İlan Tipleri</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Yazılar</span>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-file"></i>
            <div data-i18n="Account Settings">Sehirde Öne Çıkanlar</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Blog/Index/" class="menu-link">
                    <div data-i18n="Analytics">Yazılar</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/BlogCategory/Index/" class="menu-link">
                    <div data-i18n="Analytics">Kategori İşlemleri</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bxs-file"></i>
            <div data-i18n="Account Settings">Sehrin Dinamikleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/SektorunIcinde/Index/" class="menu-link">
                    <div data-i18n="Analytics">Yazılar</div>
                </a>
            </li>

            <li class="menu-item">
                <a href="/Admin/SektorCategory/Index/" class="menu-link">
                    <div data-i18n="Analytics">Kategori İşlemleri</div>
                </a>
            </li>

        </ul>
    </li>
    <hr />

</ul>
